*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 20px;
}
.header1{
    color: rgb(47, 47, 47);
    width: 100%;
    background-color: rgb(248, 246, 246);
    display: flex;
    justify-content: space-around;
}
.header1-L{
    width: 22%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 0.55rem;
}
.header1-R{
    width: 22%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 0.55rem;
}
.header1-R a{
    text-decoration: none;
    color: black;
}
.header2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.logo-box{
    width: 11%;
}
.header2-R-box{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.logo-box img{
    height: 100%;
    width: 100%;
}
.page-change-box{
    width: 55%;
    padding: 30px;
}
.search-box{
    width: 25%;
    display: flex;
}
.page-change-box ul a{
    display: flex;
    list-style: none;
    font-size: 0.65rem;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}
.icon{
    width: 20%;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon a{
    color: black;
}
/* Shop category div */
.shop_category{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%; 
    background-color: rgb(247, 244, 244); 
}
.shop_cat_L{
    /* border: 1px solid purple; */
    padding: 4.5% 0%; 
    padding-left: 10%;
    width: 28%;
}
.shop_cat_R{
    /* border: 1px solid green; */
    padding: 4.5% 0%;
    width: 28%; 
    display: flex;
    align-items: center;
}
.shop_cat_L h3{
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.shop_cat_L h5{
    color: grey;
    font-weight: 100;
    font-size: 0.7rem;
    margin-top: 5%;
}
.shop_cat_R h5{
    color: grey;
    font-weight: 100;
    font-size: 0.7rem;
}
.shop_cat_R a{
    text-decoration: none;
}
.prod_subtotal{
    width: 100%;
    /* border: 1px solid red; */
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod_subtotal_inner_box{
    width: 80%;
    /* border: 1px solid black;  */
}
.prod_subtotal_inner_box1{
    /* border: 1px solid blue; */
    border-bottom: 1px solid rgb(188, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.product_col{
    width: 15%;
    /* border: 1px solid black; */
    padding-top: 9%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.des_col{
    width: 45%;
    /* border: 1px solid black; */
    padding-top: 9%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.price_col{
    width: 12%;
    /* border: 1px solid black; */
    padding-top: 9%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.qty_col{
    width: 16%;
    /* border: 1px solid black; */
    padding-top: 9%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.total_col{
    width: 12%;
    /* border: 1px solid black; */
    padding-top: 9%;
    padding-right: 10%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.product_col1{
    width: 15%;
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.des_col1{
    width: 45%;
    /* border: 1px solid black; */
    padding: 10px;
    padding-right: 15%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price_col1{
    width: 12%;
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.qty_col1{
    width: 16%;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.qty_col1 select{
    padding: 50px;
}
.total_col1{
    width: 12%;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: 600;
    color: grey;
}
.fruit_img_div{
    width: 90%;
    height: 13vh;
    border: 1px solid rgb(223, 220, 220);
}
.fruit_img_div img{
    width: 100%;
    height: 100%;
}
.update_cart{
    border-bottom: 1px solid rgb(238, 237, 237);
    display: flex;
    justify-content: space-between;
}
.update_cart_L{
    width: 20%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update_cart_R{
    width: 50%;
    padding: 30px;
}
.update_cart_L button{
    padding: 13px 30px;
    color: black;
    font-size: 0.75rem;
    border-radius: 2px;
    border: none;
    background-color: rgb(238, 236, 236);
}
.update_cart_R input{
    padding: 10px 20px;
    font-size: 0.75rem;
}
.update_cart_R button{
    background-color: #71cd14;
    color: white;
    padding: 10px 25px;
    font-size: 0.75rem;
    border: none;
}
#btn{
    background-color: rgb(236, 233, 233);
    color: black;
    font-size: 0.75rem;
    border: none;
}
.subtotal_box{
    width: 100%;
    border-bottom: 1px solid rgb(223, 221, 221);
}
.subtotal_inner_box{
    width: 25%;
    margin-left: 70%;
    display: flex;
    justify-content: space-between;
}
.subtotal_inner_box_L{
    width: 40%;
    padding: 30px 0px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.subtotal_inner_box_R{
    width: 25%;
    padding: 30px 0px;
    font-size: 0.7rem;
    font-weight: 600;
}
.shipping_box{
    border-bottom: 1px solid rgb(235, 232, 232);
    position: relative;
    padding: 21%;
}
.shipping_inner_L_box{
    width: 30%;
    position: absolute;
    right: 0px;
    top: 0px;
}
.shipping_L_R_box{
    display: flex;
}
.ship_L{
    padding: 40px 0px;
    width: 40%;
    font-size: 0.75rem;
    font-weight: 600;
    padding-left: 26px;
    
}
.ship_R{
    padding: 40px;
    width: 60%;
    font-size: 0.75rem;
}
.ship_R ul li{
    list-style: circle;
    margin-bottom: 8%;
}
.ship_R h4{
    font-size: 0.72rem;
    font-weight: 500;
}
.shipping_inner_L_box select{
    width: 100%;
    height: 40px;
    -webkit-appearance: menulist-button;
    /* -moz-appearance:none; */
    margin-top: 20px;
    font-size: 0.72rem;
    border: 1px solid rgb(205, 200, 200);
}
.shipping_inner_L_box input{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(211, 208, 208);
    margin-top: 20px;
    border-radius: 5px;
    font-size: 0.72rem;
}
.shipping_inner_L_box button{
   width: 40%;
   height: 35px;
   font-size: 0.72rem;
   margin-top: 20px;
   margin-left: 60%;
}
.shopping_or_checkout{

}
.shopping_or_checkout_inner{
    padding-top: 2%;
    padding-bottom: 5%;
    width: 33%;
    margin-left: 67%;
}
.shopping_or_checkout button{
    padding: 15px 25px;  
}
/* Footer */
.footer-box{
    width: 100%;
    padding: 50px;
    margin-top: 5%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_inner_box{
    width: 80%;
    display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
}
.footer_inner_box_L{
    width: 70%;
}
.footer_inner_box_R{
    width: 30%;
}
.left_top{
    display: flex;
}
.left_bot{
    
}
.top_products{
    width: 25%;
}
.top_products dl dt{
    font-size: 0.9rem;
    margin-bottom: 18%;
}
.top_products dl dd{
    font-size: 0.7rem;
    color: grey;
    margin-bottom: 10%;
}
.left_bot h6{
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 6%;
}
.left_bot h6 span{
    color: #71cd14;
}
.footer_inner_box_R h4{
    font-weight: 500;
    font-size: 0.9rem;
}
.footer_inner_box_R h6{
    color: grey;
    font-weight: 500;
    font-size: 0.7rem;
    margin-top: 10%;
}
.footer_inner_box_R input{
    margin-top: 7%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 95px;
    font-size: 0.7rem;
    background-color: rgb(49, 48, 48);
}
.footer-logo-box{
    margin-top: 75px;
    width: 70%;
    margin-left: 16%;
    display: flex;
    justify-content: space-between;
}
.footer-logo-box_logo{
    width: 22%;
    padding: 20px;
    background-color: rgb(49, 48, 48);
}
.top_products dl a{
    text-decoration: none;
}
.footer-logo-box_logo a i{
    color: white;
}

